.cu-logo {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-weight: bolder;
    color: white;
}

.cu-logo:hover {
    color: white !important;
}

.cu-toggle {
    position: relative;
    top: 15px;
}

.cu-link,
.cu-link:hover {
    color: #2e77ff !important;
}

.cu-page-head h1,
.cu-page-head p {
    font-family: "黑体", Arial, sans-serif !important;
}

.cu-page-head p {
    font-size: medium;
}

.cu-error {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 10pt;
    color: #ed2918 !important;
}

.cu-correct {
    position: relative;
    top: 6px;
    color: limegreen;
}

#cu-copy-invitation-code {
    cursor: pointer;
}

.cu-block {
    display: block !important;
}

.cu-apply-doc-title {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 20px;
}

#cu-apply-download-btn {
    margin: 0 8px 8px 8px;
}

.cu-inline {
    display: inline !important;
}

.cu-default-fb {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.cu-success-fb {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: green;
}

.cu-error-fb {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}

#cu-apply-doc .mdl-card__title {
    color: #fff;
    height: 150px;
    background: #78909b url("../images/apply/apply.doc.png") right no-repeat;
}

#cu-project-list-aside .mdl-card__title {
    color: #fff;
    height: 170px;
    background: #78909b url("../images/project/volunteer.icon.png") center no-repeat;
}

#cu-about-us-logo {
    height: 280px;
    background: url("../images/about-us/about-us.logo.png") no-repeat;
}

#cu-project-title {
    margin: 0 !important;
}

.span-margin {
    margin: 5px 0 5px 0 !important;
}