*, body, h1, h2, h3, h4, h5, h6, a, p, span, label, section, article, pre, button,
.entry-meta {
    font-family: FontAwesome, "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "微软雅黑", sans-serif;
}

.nephritis h1,
.nephritis h2,
.nephritis h3,
.nephritis h4,
.nephritis h5,
.nephritis h6,
.nephritis p {
    color: #fff;
}

.cu-page-head h3 {
    font-size: 30px;
    margin: 10px 0 !important;
}

.cu-logo {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-weight: bolder;
    color: white;
}

.cu-logo:hover {
    color: white !important;
}

.cu-toggle {
    position: relative;
    top: 15px;
}

.cu-link,
.cu-link:hover {
    color: #2e77ff !important;
}

.cu-error {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 10pt;
    color: #ed2918 !important;
}

.cu-correct {
    position: relative;
    top: 6px;
    color: limegreen;
}

#cu-copy-invitation-code {
    cursor: pointer;
}

.cu-block {
    display: block !important;
}

.cu-apply-doc-title {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 20px;
}

#cu-apply-download-btn {
    margin: 0 8px 8px 8px;
}

.cu-inline {
    display: inline !important;
}

.cu-default-fb {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.cu-success-fb {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: green;
}

.cu-error-fb {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}

#cu-apply-doc .mdl-card__title {
    color: #fff;
    height: 150px;
    background: #78909b url("../images/apply/apply.doc.png") right no-repeat;
}

#cu-project-list-aside .mdl-card__title {
    color: #fff;
    height: 240px;
    background: #78909b url("../images/project/volunteer.icon.png") center no-repeat;
    /*background: #8da9b6 url("../images/about-us/about-us.logo.png") center no-repeat;*/
}

#cu-about-us-logo {
    height: 280px;
    background: url("../images/about-us/about-us.logo.png") no-repeat;
}

#cu-project-title {
    margin: 0 !important;
}

.span-margin {
    margin: 5px 0 5px 0 !important;
}

/*
*---------------------------------------------------------------------
*   index.html
*---------------------------------------------------------------------
*/

.item p {
    font-size: 18px;
    font-weight: lighter;
}

/*
*---------------------------------------------------------------------
*   about-us.html
*---------------------------------------------------------------------
*/

.cu-subtitle {
    font-size: 17px !important;
}

/*
*---------------------------------------------------------------------
*   project-list.html
*---------------------------------------------------------------------
*/
#cu-project-list-aside-card__supporting-text {
    font-size: 16px;
    line-height: 1.4 !important;
}

.icon-calendar {
    font-size: 14px;
}

.cu-project-list__bright-text {
    font-size: 16px;
    font-weight: lighter;
    color: #181818;
}

/*
*---------------------------------------------------------------------
*   project-item.html
*---------------------------------------------------------------------
*/
#cu-project-title {
    padding-bottom: 20px;
}

.cu-pre {
    background-color: transparent !important;
    border: 0;
    line-height: 1.6;
    font-size: 15px !important;
}

/*
*---------------------------------------------------------------------
*   user.html
*---------------------------------------------------------------------
*/
#cu-user-profile .mdl-card__title {
    color: #fff;
    height: 170px;
    background: #BA68C8 url("../images/user/profile.png") center no-repeat;
}

#cu-empty-state .col-xm-4 {
    padding: 0 !important;
    margin: 0 !important;
}

#cu-applies-empty-state-img {
    color: #fff;
    height: 240px;
    background: #26C6DA url("../images/user/no-applies.png") center no-repeat;
}

#cu-applies-list {
    margin: 0;
}

#cu-applies-list .mdl-list__item-action {
    margin-right: 15px;
}

#cu-applies-list .mdl-list__item-secondary-content {
    margin-right: 15px;
    color: #7b7b7b !important;
    font-size: 14px;
}

#cu-applies-list .mdl-list__item-secondary-info {
    color: #7b7b7b !important;
    font-size: 14px;
}

#cu-applies-list .mdl-list__item {
    border-bottom: 1px solid #dedede;
}

#cu-applies-list .mdl-list__item:last-child {
    border: 0;
}
/*
*---------------------------------------------------------------------
*   project-list.html
*---------------------------------------------------------------------
*/
#cu-project-empty-state-img {
    color: #fff;
    height: 240px;
    background: #172568 url("../images/project/no-project.png") center no-repeat;
}

.pagination li {
    cursor: pointer;
}

/*
*---------------------------------------------------------------------
*   login.html & register.html
*---------------------------------------------------------------------
*/

#cu-login {
    position: relative;
    top: -100px;
}

#login-form h6,
#register-form h6 {
    margin: 0;
    font-weight: lighter !important;
}

#cu-registration {
    position: relative;
    top: -100px;
}

.midnight-blue-active {
    background-color: #2b6190 !important;
    border-radius: 4px !important;
}


