.cu-logo {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-weight: bolder;
    color: white;
}

.cu-logo:hover {
    color: white !important;
}

.cu-toggle {
    position: relative;
    top: 15px;
}

.cu-link,
.cu-link:hover {
    color: #2e77ff !important;
}

.cu-page-head h1,
.cu-page-head p {
    font-family: "黑体", Arial, sans-serif !important;
}

.cu-page-head p {
    font-size: medium;
}

.cu-error {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 10pt;
}

.cu-correct {
    position: relative;
    top: 6px;
    color: limegreen;
}

#cu-copy-invitation-code {
    cursor: pointer;
}